/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** DEBUG ***/

.debug header {
    height: 90px;
}

.debug aside {
    height: calc(100% - 90px);
}

.debug main {
    height: calc(100% - 180px);
}

.debug footer {
    height: 90px;
}

/*** COMMON ***/

body {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    height: 100vh;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

ul {
    list-style-type: none;
}

/*** UTILITIES ***/
.bg-1 {
    background-color: #10151b;
}

.bg-2 {
    background-color: #151922;
}

.bg-3 {
    background-color: #282828;
}

/*** ASIDE ***/

aside {
    color: #5c5c5c;
    background-color: #000;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    max-width: 55px;
}

aside a {
    padding: 5px 10px;
}

aside .logo .logo-big,
aside nav .playlist,
aside .text,
aside hr {
    display: none;
}

aside nav {
    margin-top: 10px;
}

aside nav .menu {
    display: flex;
    flex-direction: column;
}

aside nav .menu .home-icon {
    border-left: 2px solid #b1f840;
}

aside .bottom-aside {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}
