/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** DEBUG ***/

.debug header {
    height: 90px;
}

.debug aside {
    height: calc(100% - 90px);
}

.debug main {
    height: calc(100% - 180px);
}

.debug footer {
    height: 90px;
}

/*** COMMON ***/

body {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    height: 100vh;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

ul {
    list-style-type: none;
}

/*** UTILITIES ***/
.bg-1 {
    background-color: #10151b;
}

.bg-2 {
    background-color: #151922;
}

.bg-3 {
    background-color: #282828;
}

/*** ASIDE ***/

aside {
    color: #5c5c5c;
    background-color: #000;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    max-width: 55px;
}

aside .icon img {
    filter: invert(34%) sepia(23%) saturate(0%) hue-rotate(295deg)
        brightness(96%) contrast(90%);
}

aside .profile-icon img {
    background-color: #666666;
    border-radius: 50%;
}

aside nav .playlist {
    margin-top: 40px;
}

aside a,
aside nav .playlist .title-playlist {
    padding: 5px 10px;
}

aside .logo .logo-big,
aside nav .playlist,
aside .text,
aside hr {
    display: none;
}

aside nav .playlist .title-playlist {
    color: #fff;
}

aside nav {
    margin-top: 10px;
}

aside nav .menu {
    display: flex;
    flex-direction: column;
}

aside nav .menu .home-icon {
    border-left: 2px solid #b1f840;
}

aside .bottom-aside {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

aside .bottom-aside .profile-icon .text {
    color: #fff;
}

aside hr {
    width: 90%;
    border-bottom: 1px solid #999a9a;
    margin: 0 auto;
}

/*** RESPONSIVE  ***/

@media screen and (min-width: 992px) {
    aside {
        max-width: 450px;
    }

    aside a,
    aside nav .playlist .title-playlist {
        padding: 5px 20px;
    }

    aside .logo .logo-big {
        width: 250px;
    }

    aside .logo .logo-small {
        display: none;
    }

    aside .logo .logo-big,
    aside nav .playlist,
    aside hr {
        display: block;
    }

    aside .text {
        display: inline;
    }

    aside nav .menu .home-icon {
        border: none;
    }

    aside .icon,
    aside nav .playlist a {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    aside .icon img {
        max-width: 30px;
    }

    aside nav .playlist .add-playlist {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #858585;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 30px;
    }
}
