/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*** DEBUG ***/

.debug main .top-main {
    height: 90px;
}

/*** COMMON ***/

body {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    height: 100vh;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: unset;
    display: block;
}

ul {
    list-style-type: none;
}

.main-content {
    display: flex;
    flex-grow: 1;
    height: calc(100% - 90px);
    width: 100%;
}

/*** UTILITIES ***/
.bg-1 {
    background-color: #10151b;
}

.bg-2 {
    background-color: #151922;
}

.bg-3 {
    background-color: #282828;
}

/*** SIDE ***/

.side {
    color: #5c5c5c;
    display: flex;
    background-color: #000;
    flex-direction: column;
    flex-shrink: 0;
    padding: 10px 0;
    width: 50px;
}

.side .logo {
    padding-bottom: 20px;
}

.side .icon img {
    filter: invert(34%) sepia(23%) saturate(0%) hue-rotate(295deg)
        brightness(96%) contrast(90%);
}

.side .profile-icon img {
    background-color: #666666;
    border-radius: 50%;
}

.side .profile-icon .text {
    color: #fff;
}

.side .playlist {
    margin-top: 40px;
}

.side a,
.side .playlist .title-playlist {
    padding: 5px 10px;
}

.side .playlist,
.side .text,
.side .logo .logo-big,
.side hr {
    display: none;
}

.side .playlist .title-playlist {
    color: #fff;
}

.side .menu .home-icon {
    border-left: 2px solid #b1f840;
}

.side .bottom-side {
    margin-top: auto;
}

.side .bottom-aside .profile-icon .text {
    color: #fff;
}

.side hr {
    width: 90%;
    border-bottom: 1px solid #999a9a;
    margin: 0 auto;
}

.side .playlist .add-playlist {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #858585;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 30px;
}

/*** MAIN  ***/

.main-content main {
    flex-grow: 1;
    overflow-y: scroll;
}

/* TOP MAIN */

.main-content main .top-main {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 10px;
}

.main-content main .top-main .btn-upgrade {
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 100px;
    font-size: 12px;
}

/* BOTTOM MAIN */

.main-content main .bottom-main {
    padding: 20px;
}

.main-content main .bottom-main .main-menu {
    color: #7b7e82;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    text-align: center;
}

.main-content main .bottom-main .main-menu li {
    margin-bottom: 40px;
    width: calc(100% / 4);
}

.main-content main .bottom-main .container-row {
    color: #fff;
}

.main-content main .bottom-main .container-row .row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.main-content main .bottom-main .container-row .title-row {
    margin-bottom: 30px;
}

.main-content main .bottom-main .container-row .card {
    width: calc((100% / 2) - 10px);
}

.main-content main .bottom-main .container-row .card .top-card {
    margin-bottom: 20px;
    position: relative;
}

.main-content main .bottom-main .container-row .card .top-card .icon-play {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}

.main-content
    main
    .bottom-main
    .container-row
    .card
    .top-card:hover
    .icon-play {
    opacity: 1;
}

.main-content main .bottom-main .container-row .card .top-card i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
}

.main-content main .bottom-main .container-row .card .bottom-card {
    text-align: center;
}

.main-content main .bottom-main .container-row .card .title-card {
    margin-bottom: 5px;
    font-size: 1rem;
}

.main-content main .bottom-main .container-row .subtitle {
    color: #7b7e82;
    font-weight: bold;
    font-size: 0.9rem;
}

.main-content main .bottom-main .container-row.for-you .title-row {
    margin-bottom: 20px;
}

.main-content main .bottom-main .container-row > .subtitle {
    margin-bottom: 30px;
}

.main-content main .bottom-main .container-row.artist-popular .top-card {
    border-radius: 50%;
    overflow: hidden;
}

/*** FOOTER  ***/

footer {
    height: 90px;
}

/*** RESPONSIVE  ***/

/* S */

@media screen and (min-width: 576px) {
    .side {
        width: 230px;
    }

    .side a,
    .side .playlist .title-playlist {
        padding: 5px 20px;
    }

    .side .logo .logo-small {
        display: none;
    }

    .side .logo .logo-big,
    .side .playlist,
    .side hr {
        display: block;
    }

    .side .text {
        display: inline;
    }

    .side .icon,
    .side .playlist a {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .side .icon img {
        max-width: 30px;
    }

    .main-content main .bottom-main .main-menu li {
        width: calc(100% / 3);
    }
}

/* MD */

@media screen and (min-width: 768px) {
    .main-content main .bottom-main .main-menu li {
        width: calc(100% / 5);
    }

    .main-content main .bottom-main .container-row .card {
        width: calc((100% / 4) - 10px);
    }
}

/* LG */

@media screen and (min-width: 992px) {
    .main-content main .bottom-main .main-menu {
        gap: 25px;
    }

    .main-content main .bottom-main .main-menu li {
        width: auto;
    }

    .main-content main .bottom-main .container-row .card {
        width: calc((100% / 6) - 10px);
    }
}
